
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


/* ---------- SELECTOR UNIVERSAL ---------- */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family:var(--body-font);
}

/*=============== VARIABLES CSS ===============*/

:root {
  /*========== Colors ==========*/

  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

/* -------------------- INICIO COODE BY MR-CONFIG ------------------- */

/* ---------- ESTRUCTURA PRINCIPAL GRID ----------- */

body{
  display: grid;
  min-height: 100%;
  grid-template-areas:
  'nav'
  'header'
  'section'
  'footer'
}

.nav{
  /*background-color: black; FONDO PRINCIPAL CONTENEDOR NAV-1*/
  grid-area: nav;
  height: 350px;
}

.header{
  /*background-color: coral; FONDO PRINCIPAL CONTENEDOR HEADER-1*/
  grid-area: header;
}

.section{
  /*background-color: aqua; FONDO PRINCIPAL CONTENEDOR SECTION-1*/
  grid-area: section;
}

.footer{
  background-color: blue;
  grid-area: footer;
}

/* OCULTANDO 2DO HEADER*/

.nav-header, .h1-nav, .p-nav, .span-nav, .contenedor-btn-nav{
  display: none;
}


/* ---------- ESTILADO BARRA NAVEGADOR ----------*/

.contenedor-nav{
  grid-area: contenedor-nav;
  /*background-color: aqua; FONDO CONTENEDOR DE ELEMENTOS NAV-1*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contenedor-polo-nav{ /*Contenedor de la imagen*/
  background-color: var(--first-color); /*Fondo rojo*/
  width: 274px;
  position: relative;
  top: -60px;
}

.img-polo-nav{ /*Imagen fondo rojo*/
  width: 100%;
  padding-top: 130px;
  padding-bottom: 25px;
  padding-right: 15px;
}

/* ---------- NAV GRID POSITION -----------*/

.bar-nav{
  grid-area: bar-nav;
  position: relative;
  height: 60px;
  display: grid;
  grid-template-areas: 
  'bar-nav1 bar-nav2';
  color: var(--first-color);
  align-items: center;
  z-index: 1;
  padding: 0px 24px;
}

  .bar-nav1{
    grid-area: bar-nav1;
    padding-right: 30px; /*Colocado solo para separar las palabras*/
  }

  .bar-nav2{
    grid-area: bar-nav2;
    text-align: right;
    color: var(--button-color);
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.8rem;
  }

  #bt-grid-nav{
    cursor: pointer;
  }

  .nav-header{
    grid-area: nav-header;
  }

/* ---------- HEADER MOVIL GRID ----------*/

.header{
  padding-left: 24px;
  padding-right: 36px;
  padding-top: 50px;
  display: grid;
  grid-template-areas:
  'header1'
  'header2'
  'header3'
  'header4';
}

.h1-header{
  grid-area: header1;
  padding-top: 50px;
}

.p-header{
  grid-area: header2;
  padding-top: 15px;
 
}

.span-header{
  grid-area: header3;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--first-color);
}

.contenedor-btn-header{
  grid-area: header4;
  padding-top: 15px;
  padding-bottom: 120px;
}

/* -------------------- FIN CODE BY MR-CONFIG ------------------- */

/* ---------- INICIO CODE CSS LAUTHER 1 ---------- */

.contenedor-categorias{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap ;
  gap: 1rem;
  margin: 3rem 0;
}
.btn{
  background-color: blue;
  width: 7rem;
  height: 2.5rem;
  border: none;
  background-color: var(--body-color);
}
.btn h2{
  font-size: 16px;
  color: var(--title-color);
}
.btn p{
  font-size: 12px;
  color: var(--text-color);
}
.separador-btn{
  background-color: var(--title-color);
  width: 1px;
  height: 2.5rem;
  margin: 0 0.1rem;
}
.contenedor-productos{
  /*background-color: var(--body-color);*/ /*DESACTIVANDO EL COLOR GRIS TEMPORAL - BY MR-CONFIG*/
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
  gap: 3rem;
}
.tarjeta-producto{
  background-color: var(--card-color);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.5rem;
  border-radius: 10px;
}

.img-producto{
  width: 200px;
}

.contenedor-detalle{
  background-color: var(--container-color);
  width: 100%;
  padding: 1rem 0 1rem 1rem ;
  position: relative;
}

.btn-agrega{
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1rem;
  right: 1rem;
  border: none;
  box-shadow: 0 0 15px 0;
}

.precio-stock{
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.precio-stock p{
  border-left: 1px solid;
  padding-left: 0.5rem;
}

.footer{
  /*background-color: var(--card-color);*/ /*DESACTIVADO TEMPORAL PARA VER EL FONDO DEL FOOTER ORIGINAL - BY MR-CONFIG*/
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  padding: 6rem 0 3rem 3rem;
}

.contenedor-footer{
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  padding-bottom: 1rem;
  color: var(--text-color);
}

.contenedor-footer h2{
  font-size: 22px;
}

.contenedor-footer a{
  text-decoration: none;
  color: var(--text-color);
}

.iconos-social{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

.contenedor-carrito #close{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.contenedor-carrito{
  background-color: var(--container-color);
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 100;
  box-shadow: 0 0 15px 0;
  animation: cart-move 1.5s;
}

@keyframes cart-move{
  0%{
      right: -400px;
  }
  100%{
      right: 0;
  }
}

.contenedor-carrito h2{
  text-align: center;
}

.contenedor-carrito p{
  text-align: justify;
  font-size: 14px;
}

.img-empty-cart{
  width: 100%;
}

.carrito-2{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-precio{
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

.btn-checkout{
  background-color: --card-colorblue;
  align-self: flex-end;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  color: var(--text-color-light);
}

/*-----OCULTA MENU LAUTHER EN MOVIL-------*/

  .hidden{
    display: none;
  }

/* ---------- FIN CODE CSS LAUTHER 1 ---------- */

/* -------------------- INICIO COODE BY MR-CONFIG ------------------- */

  /* ----------- MEDIA QUERY - OTRAS MEDIDAS-----------*/

  @media (min-width: 576px){ 

  .header{ /*DESAPARECIENDO PRIMER HEADER*/
      display: none;
  }

  .nav-header {
      /*background-color: blueviolet; FONDO SEGUNDO HEADER*/
      display: block;
  }
  
  .nav-header, .h1-nav, .p-nav, .span-nav, .contenedor-btn-nav{
      display: block;
  }
  
  /* ---------- BARRA DE NAVEGACION GRID ----------*/
  .nav {
      margin-bottom: -150px;
      padding: 0px 40px;
      display: grid;
      grid-template-areas:
      'bar-nav bar-nav'
      'nav-header contenedor-nav';
  }

  .contenedor-nav{
    width: 300px;
    height: 400px;
  }

  .contenedor-polo-nav{ /*Contenedor de la imagen*/
    width: 300px;
    height: 460px;
    position: relative;
    top: -60px;
  }

  .bar-nav{
    padding: 0;
  }

  .bar-nav2{
    padding-right: 24px;
  }

  /* ---------- NAV-HEADER GRID ---------- */

  .nav-header{
    gap: 1rem;
    padding-top: 80px;
    padding-right: 24px;
    display: grid;
    grid-template-areas:
    'nav-header1'
    'nav-header2'
    'nav-header3'
    'nav-header4';
  }
  
  .h1-nav{
    grid-area: nav-header1;
    font-size: 32px;
    margin-bottom: -30px;
  }
  
  .p-nav{
    grid-area: nav-header2;
    margin-bottom: -30px;
  }
  
  .span-nav{
    grid-area: nav-header3;
    font-size: 20px;
    font-weight: bold;
    color: var(--first-color);
  }
  
  .contenedor-btn-nav{
    grid-area: nav-header4;
  }

  /* -------------------- FIN COODE BY MR-CONFIG ------------------- */

  /* ---------- INICIO CODE CSS LAUTHER 2 ----------*/

.section{
  margin-top: 300px;
}

.footer{
  justify-content: center;
  gap: 3rem;
}
.contenedor-footer{
  width: 12rem;
}

.contenedor-carrito{
  justify-content: start;
  gap: 1rem;
}

.carrito-2{
    margin-top: 3rem;
}

.hidden{
  display: none;
}

/* ---------- FIN CODE CSS LAUTHER 2 ---------- */

  }

/* -------------------- INICIO COODE BY MR-CONFIG ------------------- */

  @media (min-width: 850px){

  /* ---------- BARRA DE NAVEGACION Y FOTO ---------- */

    .nav{
    padding: 0px 80px;
    margin-bottom: 150px;
    }

    .bar-nav{
      padding: 0;
    }
   
    .contenedor-nav{
      width: 100%;
    }
    
    .contenedor-polo-nav{ /*Contenedor de la imagen*/
      width: 500px;
      height: 650px;
      position: relative;
      top: -60px;
    }

    /* ---------- NAV-HEADER GRID ---------- */

    .nav-header{
      padding-right: 100px;
      gap: 2rem;
    }
    .h1-nav{
      grid-area: nav-header1;
      font-size: 48px;
      padding-bottom: 10px;
    }

    .p-nav{
      grid-area: nav-header2;
      padding-bottom: 20px;
      
    }
    
    .span-nav{
      grid-area: nav-header3;
      font-size: 32px;
      font-weight: bold;
      color: var(--first-color);
    }
    
    .contenedor-btn-nav{
      grid-area: nav-header4;
    }

/* -------------------- FIN COODE BY MR-CONFIG ------------------- */

/* ---------- INICIO CODE CSS LAUTHER 3 ----------*/

  .section{
    margin-top: 250px;
  }

/* ---------- FIN CODE CSS LAUTHER 3 ---------- */

   
  }


/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/
  
 /*hola mundo, my name is lauther, los comentarios se pone entre / y * */ 